
/* PDF container */
.content {
  width: 100%;  
}

/* Each canvas element will be rendered here */
canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gold;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 15px;
    width: 100%;
    max-width: 400px;
    height: 100%;
    transition: .5s ease-in-out;

}

canvas:hover
{
    box-shadow: 1px 1px 10px 2px gold ;
    transition: .5s ease-in-out;
}
